@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  hr {
    @apply my-5 w-full border-t border-gray-300;
  }
}

@layer components {
  .predefined {
    @apply rounded-md bg-teal-500 px-4 py-2 text-lg font-semibold text-white transition delay-75 hover:bg-teal-600 active:bg-teal-400;
  }
}
@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}
